body,
html {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: rgb(189, 188, 188);
  background-color: #333;
}
nav {
  border-bottom: 1px #bbb solid;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.active {
  background-color: #4caf50;
}
.green {
  color: #4caf50;
}
/* Add a gray right border to all list items, except the last item (last-child) */
li {
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}
main {
  /* margin: 0 auto;
  display: flex; */
}

.page-title__title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.page-title {
  padding: 110px 40px;
}

.gallary {
  display: flex;
  flex-wrap: wrap;
}
.gallary_item {
  background-color: #bbb;
  color: #4caf50;
  margin: 15px;
  border: 1px solid #111;
  width: 200px;
  height: 200px;
  line-height: 200px;
  white-space: nowrap;
  text-align: center;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
.about_page {
  display: flex;
  align-items: center;
}

.image {
  padding: 110px 40px 110px 200px;
}
